<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="index.html">CDAT</a>
      <div class="nav-collapse">
        <ul class="nav">

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download &amp; Install<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="download.html">Obtaining &amp; Installing CDAT</a></li>
            <li><a href="installation-guide.html">Installation Guide</a></li>
            <li><a href="install-environment.html">Install Environment</a></li>      
            <li><a href="contrib.html">Contributed Packages</a></li>
          </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="cdatbasics.html">CDAT Scripting</a></li>
            <li><a href="advanced_cdat.html">Advanced CDAT Scripting</a></li>
            <li><a href="xmgrace_tut.html">Xmgrace</a></li>
            <li><a href="numeric_tut.html">Numeric Module</a></li>
            <li><a href="eztemplate.html">eztemplate</a></li>
            <li><a href="thermodynamic-diagrams.html">Thermodynamic Diagrams</a></li>
            <li><a href="getting-started.html">VCDAT</a></li>
            <li><a href="vcdat-lite.html">VCDAT Lite</a></li>
            <li><a href="tutorials.html">Tutorials</a></li>
            <li><a href="tips_and_tricks.html">Tips &amp; Tricks</a></li>
          </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reference<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="manuals.html">Manuals</a></li>
            <li><a href="cdms.html">CDMS</a></li>
            <li><a href="vcsquickref.html">VCS</a></li>
            <li><a href="cttd.html">Taylor Diagram</a></li>
            <li><a href="media/docs/xmgrace_doc_portrait.pdf">Xmgrace pdf</a></li>
            <li><a href="media/docs/Python%202.4%20Quick%20Reference%20Card.pdf">Python 2.4pdf</a></li>
            <li><a href="media/docs/Subversion%20Quick%20Reference%20Card.pdf">Subversion pdf</a></li>
          </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Source Code<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://helene.llnl.gov/trac/browser/cdat">TRAC</a></li>
            <li><a href="api-reference.html">API Reference</a></li>
          </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="docs.html">Documents</a></li>
            <li><a href="presentations.html">Presentations</a></li>
            <li><a href="publications.html">Publications</a></li>
            <li><a href="newsletters.html">Newsletters</a></li>
          </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="support.html">Support</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 60px;"></div>
